@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .bordered-button-indigo {
    @apply px-8 py-2 rounded-md text-blue-11 border border-solid border-blue-7 hover:border-blue-8
  }

  .bordered-button-red {
    @apply px-8 py-2 rounded-md text-red-11 border border-solid border-red-7 hover:border-red-8
  }

  .bordered-button-green {
    @apply px-8 py-2 rounded-md text-green-11 border border-solid border-green-7 hover:border-green-8
  }

  /* Override daisyui padding for alerts */
  .alert {
    @apply py-3
  }

  /* Inverted stack, similar to how daisyui stack works, just inverted so
  last element is on top instead of the first one. */
  .inverted-stack {
    @apply inline-grid place-items-center items-end;
  }

  .inverted-stack > * {
    @apply col-start-1 row-start-1 w-full;
    transform: translateY(20%) scale(0.95);
    z-index: 1;
  }

  .inverted-stack > *:nth-last-child(2) {
    transform: translateY(10%) scale(0.98);
    z-index: 2;
  }

  .inverted-stack > *:nth-last-child(1) {
    transform: translateY(0) scale(1);
    z-index: 3;
  }

  /* Custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[0.35rem];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-md;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-indigo-8 rounded-2xl;
  }

  .skeleton-bar {
    @apply h-4 rounded-full bg-indigo-3 animate-pulse;
  }

  .blue-gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-9 via-blue-11 to-blue-9 w-fit;
  }

  .hover-slide-underline {
    @apply relative;
  }

  .hover-slide-underline:after {
    @apply absolute w-full h-0.5 bottom-0 left-0 bg-blue-9 scale-x-0 origin-bottom-right transition-transform duration-300;
    content: '';
  }

  .hover-slide-underline:hover:after {
    @apply origin-bottom-left scale-x-100;
  }
}